[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Formatting
flake8 = "*"
black = "==19.10b0"
isort = "*"
# Testing
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
pyfakefs = "*"
mypy = "*"
# Coverage
coverage = "*"
codecov = "*"
# Tools
pre-commit = "*"
invoke = "*"
"ruamel.yaml" = "*"
twine = "*"
bump2version = "*"
keras = "*"
tensorflow = "*"

[packages]
deeplearning2020 = {path = ".",editable = true}
kerasltisubmission = ">=0.4.9"
